//site color variables
$title-color: #2c2c2c;
$body-color: #fff;
$primary-color: #407ee9;
$secondary-color: #f376aa;
$text-color: #808186;
$text-color-dark: #32413d;
$text-color-blue: #9edafd;
$background-color-pink: #fff7fe;
$background-color-blue: #f4f8fa;
$background-color-dark: #4567ce;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
